<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139688759634-td9b452e48eml2tmnsqg72pjql7dne4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139688759634-td9b452e48eml2tmnsqg72pjql7dne4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBhKRsNmBsivdvi_nz-VMqprxeLtAehcV0</string>
	<key>GCM_SENDER_ID</key>
	<string>139688759634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cyclops</string>
	<key>PROJECT_ID</key>
	<string>cyclops-eye</string>
	<key>STORAGE_BUCKET</key>
	<string>cyclops-eye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139688759634:ios:b8cb876602d44e3ad36a8b</string>
	<key>DATABASE_URL</key>
	<string>https://cyclops-eye-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>